:root {
    --gap: 10px;
    --padding: 10px;
    --border-radius: 12px;
    --boxshadow-section: 0 12px 12px rgba(0, 0, 0, 0.05);
    --boxshadow-section-focus: 0 0 0 2px rgba(100, 100, 255, 0.1);
    --color-legend: #1e1e1e;
    --color-white: #fff;
    --color-black: #000;
    --color-main: #333;
    --color-border: #ccc;
    --color-placeholder: #aaa;
    --color-border-focus: #888;
    --color-button: #212121;
    --color-bg-button: #ffca28;
    --color-bg-button-hover: #fbc02d;
    --color-bg-disabled: #ccc;
    --color-button-disabled: #666;
    --color-error: #d32f2f;
}

html {
    font-size: 16px;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin: 0;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}

input,
select,
textarea {
    width: 100%;
    height: 40px;
    padding: var(--padding);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    font-size: 0.8rem;
    color: var(--color-main);
    background-color: var(--color-white);
}

textarea {
    resize: none;
    height: auto;
}

select {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--color-border-focus);
    outline: none;
    box-shadow: var(--boxshadow-section-focus);
}

input::placeholder,
select::placeholder,
textarea::placeholder {
    color: var(--color-placeholder);
}